@import "tailwindcss";

@font-face {
  font-family: "Nohemi";
  src:
    url("./assets/fonts/nohemi/Nohemi-Thin.woff") format("woff"),
    url("./assets/fonts/nohemi/Nohemi-Thin.ttf") format("truetype"),
    url("./assets/fonts/nohemi/Nohemi-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src:
    url("./assets/fonts/nohemi/Nohemi-ExtraLight.woff") format("woff"),
    url("./assets/fonts/nohemi/Nohemi-ExtraLight.ttf") format("truetype"),
    url("./assets/fonts/nohemi/Nohemi-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src:
    url("./assets/fonts/nohemi/Nohemi-Light.woff") format("woff"),
    url("./assets/fonts/nohemi/Nohemi-Light.ttf") format("truetype"),
    url("./assets/fonts/nohemi/Nohemi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src:
    url("./assets/fonts/nohemi/Nohemi-Regular.woff") format("woff"),
    url("./assets/fonts/nohemi/Nohemi-Regular.ttf") format("truetype"),
    url("./assets/fonts/nohemi/Nohemi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src:
    url("./assets/fonts/nohemi/Nohemi-Medium.woff") format("woff"),
    url("./assets/fonts/nohemi/Nohemi-Medium.ttf") format("truetype"),
    url("./assets/fonts/nohemi/Nohemi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src:
    url("./assets/fonts/nohemi/Nohemi-SemiBold.woff") format("woff"),
    url("./assets/fonts/nohemi/Nohemi-SemiBold.ttf") format("truetype"),
    url("./assets/fonts/nohemi/Nohemi-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src:
    url("./assets/fonts/nohemi/Nohemi-Bold.woff") format("woff"),
    url("./assets/fonts/nohemi/Nohemi-Bold.ttf") format("truetype"),
    url("./assets/fonts/nohemi/Nohemi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src:
    url("./assets/fonts/nohemi/Nohemi-ExtraBold.woff") format("woff"),
    url("./assets/fonts/nohemi/Nohemi-ExtraBold.ttf") format("truetype"),
    url("./assets/fonts/nohemi/Nohemi-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src:
    url("./assets/fonts/nohemi/Nohemi-Black.woff") format("woff"),
    url("./assets/fonts/nohemi/Nohemi-Black.ttf") format("truetype"),
    url("./assets/fonts/nohemi/Nohemi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-nohemi: "Nohemi", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 90rem;

  @variant md {
    padding-inline: 5rem;
  }
}

@layer components {
  .display-3 {
    @apply xl:text-[2rem] font-nohemi font-bold leading-[120%]  tracking-normal lg:text-[1.5rem] md:text-[1.25rem] text-[1.125rem];
  }

  .feature-emphasis {
    @apply xl:text-[1.5rem] font-outfit font-medium leading-[100%]  tracking-normal lg:text-[1.125rem] md:text-[1rem] text-[0.875rem];
  }

  .highlight-standard {
    @apply xl:text-[1.125rem] font-outfit font-light leading-[120%]  tracking-normal lg:text-[1rem] md:text-[0.875rem] text-[0.75rem];
  }
}

@keyframes up-down {
  0% {
    transform: translateY(-0.625rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.625rem);
  }
}

.animation-updown {
  animation-name: up-down;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes enter-from-left {
  0% {
    transform: translateX(-6.25rem);
    opacity: 0;
  }
  80% {
    transform: translateX(2.5rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes enter-from-right {
  0% {
    transform: translateX(6.25rem);
    opacity: 0;
  }
  80% {
    transform: translateX(-2.5rem);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes exit-to-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(6.25rem);
    opacity: 0;
  }
}

@keyframes exit-to-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-6.25rem);
    opacity: 0;
  }
}

.enter-from-left {
  animation: enter-from-left 0.5s ease-in-out forwards;
  animation-delay: 0.2s;
}

.enter-from-right {
  animation: enter-from-right 0.5s ease-in-out forwards;
  animation-delay: 0.2s;
}

.exit-to-right {
  animation: exit-to-right 0.5s ease-in-out forwards;
}

.exit-to-left {
  animation: exit-to-left 0.5s ease-in-out forwards;
}

@keyframes recoil-text-enter {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.recoil-text-enter {
  animation: recoil-text-enter 0.5s ease forwards;
}

@keyframes recoil-text-exit {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.recoil-text-exit {
  animation: recoil-text-exit 0.6s ease-in-out forwards;
}

@keyframes left-right {
  0%,
  100% {
    transform: translateX(0.625rem);
  }
  100% {
    transform: translateX(0);
  }
}

.group:hover .left-right {
  animation: left-right 0.5s ease-in-out infinite alternate;
  animation-delay: 0.2s;
}
